<div>
<h1>Profil de {{currentUser.name}} {{currentUser.surname}}</h1>
  <br/>
  <h3 class="inline">Mail: {{currentUser.email}}</h3>
  <h3 class="inline" style="margin-left:100px">Site web: {{currentUser.website}}</h3>
  <br/>
  <br/>
 <h2> Mettre à jour ces informations </h2>
    <form>
    <label>Nom</label>
      <input class="form-control" type='text'  ng-model='updateName' placeholder='{{currentUser.name}}'>
      <label>Prénom</label>
      <input class="form-control" type='text'  ng-model='updateSurname' placeholder='{{currentUser.surname}}'>
    <label>Email</label>
    <input class="form-control" type='text'  ng-model='updateMail' placeholder='{{currentUser.email}}'>
      <label>Site web</label>
    <input class="form-control" type='text'  ng-model='updateWebsite' placeholder='{{currentUser.website}}'>
      <br/>
      <button class="btn btn-default" ng-click="updateUser(currentUser.id,updateName,updateSurname,updateMail,updateWebsite)" >
        Valider</button>
  </form>


    <h2>Les différents rôles de {{currentUser.surname}} dans ses projets: </h2>
  <table class="table table-hover">
    <tr>
      <th>Rôle</th>
      <th>Nom du projet</th>
      <th>Année</th>
      <th></th>
    </tr>

  <tr ng-repeat="role in currentRoles"  >
    <td> {{role.name}}</td>
    <td><a ng-href="#/projects/{{role.ProjectId}}">{{projectTitles[role.ProjectId]}}</a></td>
    <td>{{projectYears[role.ProjectId]}}</td>
    <td ng-click="deleteProjectUser(role.ProjectId,role.UserId)"><a >Supprimer ce rôle</a></td>
  </tr>
  </table>


  <h2>Ajouter un projet</h2>
  <input type="text" ng-model="newProjectName" placeholder="Nom du projet">
  <input type="number" ng-model="newProjectYear" placeholder="Année du projet" >
  <input type="text" ng-model="role" placeholder="Rôle dans le projet">
  <input type="button" value="ok" ng-click="addProjectUser(newProjectName,newProjectYear,currentUser.id,role)">
  <br/>
  <span id="notfound" class="text-danger"></span>
  <br/>
  <span>Voir la <a ng-href="#/projects">liste</a> des projets existants</span>


</div>
