<div>
  <h2>Ajouter un Projet</h2>
    <input type="text" size="30" ng-model="creaTitle" placeholder="Nom">
    <input type="number" style="margin-left:20%" ng-model="creaYear" placeholder=" Année">
  <br/><br/>
    <textarea class="form-control" type="text"  ng-model="creaDesc" placeholder="Description"></textarea>
<br/>
  <button class="btn btn-default" style="margin-left:42%" ng-click="createProject(creaTitle,creaYear,creaDesc)" >Ajouter</button>

<h2>Rechercher un projet</h2>
  <label>Nom</label>
 <input class="form-control" type="text" ng-model="search.title">
  <label>Année</label>
 <input class="form-control" type="text" ng-model="search.year">

  <h3>Liste des projets:</h3>

  <table  class="table table-hover">
    <tr>
      <th>Nom du projet</th>
      <th>Année</th>
      <th>Description</th>

      <th></th>
    </tr>
    <tr ng-repeat="project in projects | filter:search" id="{{project.id}}">

      <td><a ng-href="#/projects/{{project.id}}">{{project.title}}</a></td>
      <td>{{project.year}}</td>
      <td>{{project.description}}</td>

      <td ng-click="deleteProject(project.id)"><a>Supprimer</a></td>

    </tr>
  </table>
</div>
